/*sliders*/

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0 10px;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #000;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px #fff;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #555;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;

}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #000;
}

input[type=range]::-moz-range-thumb {
  border: 0px #000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #555;
  cursor: pointer;
}

/*button*/
#resetButton, #githublink {
    display: inline-block;
    position: relative;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

#resetButton:hover, #githublink:hover {
  transition: background-color 0.5s;
  background-color: #555
}


/*checkboxes*/

label {
  display: inline-block;
  float: left;
  max-width: calc(100% - 30px);
  text-align: left;
  margin: 0px 5px 5px 5px;
  cursor: pointer;
}

label:before {
  display: block;
  content: '';
  height: 18px;
  width: 18px;
  border: 1px solid #555;
  float: left;
  margin: 1px 5px 10px 0;
  border-radius: 50%;
  transition: all 0.5s ease;
  background-color: transparent;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  background-color: #555;
}

input[type="checkbox"] {
  display: none;
}

/*legend*/
#vLegend, #aLegend {
  display: inline-block;
  height: 19px;
  width: 40px;
}

#vLegend {
  fill: #ccc;
}

#aLegend {
  fill: red;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left, .right {

}

p {
  overflow: hidden;
}