body, html {
  min-height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  background-color: #ccc;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Space Mono', monospace;
}

h1 {
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
  font-family: 'Space Mono', monospace;
}

#svgDiv {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: #000;
  overflow: hidden;
}

#planetDiv {
  position: absolute;
  left: 210px;
  top: 0px;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
}

#menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: 10px;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100% - 40px);
}

#settings {
  position: relative;
  background-color: none;
  border-top: 1px solid black;
  display: block;
  text-align: left;
  overflow: hidden;
  margin-bottom: 10px;
}

.vArrowSplit, .vArrowMono {
  stroke: none;
  fill: #ccc;
}

.aArrowSplit, .aArrowMono {
  stroke: none;
  fill: red;
}

#hZone {
  stroke: #8bf;
  stroke-opacity: .2;
  fill: none;
}

.invisible {
  opacity: 0;
}
